.wrap {
    padding: 10px;
}

// .content_box {
//     display: grid;
//     grid-auto-rows: auto;
//     grid-auto-columns: max-content;
//     grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
//     grid-column-gap: 2rem;
//     grid-row-gap: 1.5rem;
//     text-align: center;
// }

.content_wrap {
    width: 100%;
    overflow: auto;
    padding: 5px;
    & > .content_box {
        margin-bottom: 5px;
    }

    // Scroll bar style
    &::-webkit-scrollbar {
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #dc1a28;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: #eee;
        border-radius: 10px;
    }
}